---
import LogoImage from "../assets/images/logo.png";
let currentYear = new Date().getFullYear();
---

<footer
  class="flex flex-col justify-center items-center py-20 bg-dark-800 text-white font-satoshi font-bold"
>
  <span class="text-xl md:text-3xl">Israel Gutierrez, {currentYear}</span>
</footer>
