---
import AnchorButton from "@ui/AnchorButton.astro";
import EmailLink from "./EmailLink.astro";
import SocialLinks from "./SocialLinks.astro";
import Icon from "@ui/Icon.astro";
import { IconName } from "@base/types/IconName";

const resumeLink =
  "https://drive.google.com/file/d/1ViJhERcsIXQM3M4CEFhhbjISKANrEJzI/view?usp=sharing";
---

<div class="flex flex-col flex-1 mb-8">
  <div class="w-full lg:w-auto">
    <h2 class="text-4xl md:text-5xl font-bold mb-8 md:mb-12">Contáctame</h2>
  </div>
  <div class="flex flex-wrap gap-4">
    <EmailLink />
    <SocialLinks />
  </div>
  <div class="flex flex-col md:flex-row gap-4">
    <div class="flex-1">
      <AnchorButton
        href={resumeLink}
        className="flex justify-center w-full md:w-fit"
      >
        <span class="flex items-center">
          Descargar CV <Icon
            className="ml-4 w-[20px]"
            name={IconName.download}
          />
        </span>
      </AnchorButton>
    </div>
  </div>
</div>
