---
import SocialIcons from "./SocialIcons.astro";
---

<div class="mb-4 flex md:flex-col flex-1 items-center md:items-start">
  <span class="font-bold text-xl md:text-3xl">Social:</span>
  <SocialIcons />
</div>
